@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model SelectCompanyModel;

@inject TaskManagerGUI.Repositories.IStockRepository _stockRepository;
@{
    var companyName = ViewData["StockName"] as string;
    var stockData = await _stockRepository.ProcessStockApi(companyName);
    var stockModel = await _stockRepository.GetEarnings(companyName);
}

<div id="stockCharts" class="container text-center align-content-center">

    @{
        string[] stats = { "Highs", "Lows" }; 
    }
    <h1 class="display-4">@companyName Stock Statistics</h1>

    <div>
        <h6>Search Another Company</h6>
        <div class="text-center"style="margin: 20px;">

        </div>
    </div>
    <script>
        /*
        function loadStockStats(name) {
            $.ajax({
                url: `/Stock/Search/${name}`,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ Name: name }),
                success: function(response) {
                    console.log(`loading page for ${name}`);
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }

        $(document).ready(function () {
            console.log('hey there');

            $("#submit-input").click(function (e) {
                var companyName = $("#company-input").val();
                if (companyName) {
                    loadStockStats(companyName);
                }
            });
        }); */
    </script>

    <div class="col">
        <div class="row">
            @for (int i = 0; i < stats.Length; ++i)
            {

                var idName = $"stockChart{i}";

                <div class="col nextFrame">
                    <h2>Stock @stats[i]</h2>
                    <canvas class="dataChart" id=@idName style="max-width: 100%; height: auto;"></canvas>
                </div>
            }
        </div>
    </div>
    <div class="col">
        <div class="row">
        @{
            CompanyModel companyRecord = await _stockRepository.GetEarnings(companyName);
            if (companyRecord != null)
            {
                /* Display information regarding the company. */
                                        <div class="factFrame">
                                            <span>Full-Name</span>
                                            <h2>@companyRecord.Name</h2>
                                            <span>Earning Estimate</span>
                                            <h2>@companyRecord.Estimate @companyRecord.Currency</h2>
                                            <span>Report Date</span>
                                            <h2>@companyRecord.ReportDate</h2>
                                            <span>Fiscal Date Ending</span>
                                            <h2>@companyRecord.FiscalDateEnding</h2>
                    </div>
                }
            }
        </div>
    </div>

</div>


@{
    List<string> xDates = null;
    List<StockModel> values = null;
    try
    {
        xDates = new List<string>(stockData.Keys);
        values = new List<StockModel>(stockData.Values);
    }
    catch (Exception e)
    {
        Console.WriteLine($"Couldn't load Company Stocks: {e}");
    }
}
<script>

    function reverseArrays(allValues, xDates) {
        const keys = Object.keys(allValues);

        xDates = xDates.reverse();
        keys.forEach(key => {
            allValues[key] = allValues[key].reverse();
        });
    }

    let xDates = @Html.Raw(Json.Serialize(xDates));
    const values = @Html.Raw(Json.Serialize(values));
    let highs = [];
    let allValues = {
        highs: [],
        lows: [],
        open: [],
        close: [],
    };
   

    
    for (let i = 0; i < xDates.length; ++i) { 
        let { high, low, open, close } = values[i];

        allValues.highs.push(high);
        allValues.lows.push(low);
        allValues.open.push(open);
        allValues.close.push(close);
    }
    reverseArrays(allValues, xDates);

    const defaultScaleOptions = {
        scales: {
            y: {
                beginAtZero: true,
                ticks: {
                    color: 'white',
                },
                title: {
                    color: 'white'
                }

            },
            x: {
                ticks: {
                    color: 'white',
                },
                title: {
                    color: 'white'
                }
            }

        },
        layout: {
            padding: {
                left: 20,
                right: 20,
                top: 20,
                bottom: 20
            }
        },
        legend: {
            display: false,
            labels: {
                fontColor: 'white'
            }
        },
        plugins: {
        }
    };


    const ctx = document.getElementById('stockChart1').getContext('2d');
    const TRANSPARENT_COLOR = 'rgba(0, 0, 0, 0)';
    const gradient = ctx.createLinearGradient(0, 0, 0, 500);
    gradient.addColorStop(0, '#004d99');
    gradient.addColorStop(1, TRANSPARENT_COLOR);

    const data = {
        highs: {
            data: allValues.highs,
            backgroundColor: gradient,
            borderColor: '#00e3be',
            fill: 'start',
            pointRadius: 0,
            options: defaultScaleOptions
        },
        lows: {
            data: allValues.lows,
            backgroundColor: gradient,
            borderColor: '#e30081',
            fill: 'start',
            pointRadius: 0,
            options: defaultScaleOptions
        }
    };

    const allSections = Object.values(data);

    for (let i = 0; i < allSections.length; ++i) {
        const stockData = {
            labels: xDates,
            datasets: [allSections[i]]
        };

        console.log(allSections[i]);

        const stockChart = new Chart(`stockChart${i}`, {
            type: 'line',
            data: stockData,
            options: {
                legend: {
                    display: false,
                    labels: {
                        fontColor: 'white'
                    }
                }
            }
        });
    }


</script>