@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string ShowButton(string status)
    {
        return status.Equals("Stopped") ? "Start" : "Stop";
    }
}

@model List<ServiceModel>;


<div id="serv-layout" class="service-layout ">
    <h3 class="text-center">Service Manager</h3>
    <div class="as-rows">
        <h3>Search</h3>
        <input id="service-query" type="text"/>

        <button id="sbmt-btn"class="serv-btn">Submit</button>
    </div>

    <div class="scroll-services">
        <div class="table-responsive-sm">
            <table class="table">
                <tr>
                    <th>Display Name</th>
                    <th>Status</th>
                    <th>Toggle</th>
                </tr>
                @foreach (var service in Model)
                {
                    ServiceModel currService = (ServiceModel)service;
                    <tr>
                        <td>@currService.DisplayName</td>
                        <td>@currService.Status</td>
                        <td>
                            <form asp-controller="Service" asp-action="ConfigureService"
                                asp-route-displayName="@currService.DisplayName"
                                asp-route-status="@currService.Status">
                                <button class="serv-btn">
                                    @ShowButton(currService.Status)
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        function fadeInChart(id) {
            $(document).ready(function () {
                $(id).css("opacity", 0);
                $(id).css("position", "relative");

                $(id).animate({
                    top: '+=70px'
                }, 0);

                $(id).animate({
                    opacity: 1,
                    top: '-=70px'
                }, 1000);
            });
        }

        const value = $("#service-query").val();

        const filterServices = async (value) => {
            $("#sbmt-btn").click(function () {
                value = $("#service-query").val();
                console.log(`value is ${value}`);
                    fetch(`/Service/QueryService`, {
                    method: 'POST',
                    body: JSON.stringify({
                        displayName: value
                    }),
                    headers: {
                        "Content-Type": "application/json"
                    },
                    })
                    .then((res) => console.log(res))
                    .catch((err) => console.log(err));

                window.location.href = `/service?name=${value}`;
            });

        }

        fadeInChart("#serv-layout");
        filterServices();

    });
</script>

